/* Buttons */
.button {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  align-items: center;
  border-radius: var(--space-2);
  color: rgb(var(--rgb-white));
  display: inline-flex;
  font-family: var(--font-primary);
  font-weight: var(--text-semibold);
  justify-content: center;
  min-width: 40px;
  padding: calc(var(--space-3)) var(--space-3);
  text-align: center;
}
.button[disabled] {
  cursor: not-allowed;
}
.button-transparent-white {
  backdrop-filter: blur(10px);
  background-color: rgba(var(--rgb-white), 0.15);
  border: calc(var(--space) / 2) solid rgba(var(--rgb-white), 0);
  box-shadow: 0 0 0 1px rgba(var(--rgb-black), 0.1);
}
.button-transparent-white:hover {
  background-color: rgba(var(--rgb-white), 0);
  border: calc(var(--space) / 2) solid rgba(var(--rgb-white), 0.9);
  box-shadow: 0 0 0 1px rgba(var(--rgb-black), 0.3);
}
