/* Gradients */

:root {
  --gradient-x: to right;
  --gradient-y: to bottom;
  --gradient-rb: to right bottom;
  --gradient-lb: to left bottom;
  --gradient-rt: to right top;
  --gradient-lt: to left top;
  --gradient-indigo-pink: rgb(var(--color-indigo-500)),
    rgb(var(--color-purple-500)), rgb(var(--color-pink-500));
  --gradient-indigo-teal: rgb(var(--color-indigo-500)),
    rgb(var(--color-teal-500));
}
