/* Keyframes */
@keyframes nav_desktop--bg {
  0% {
    background-color: rgba(var(--rgb-white), 0);
  }
  98% {
    background-color: rgba(var(--rgb-white), 0.3);
  }
  100% {
    background-color: rgba(var(--rgb-white), 0.8);
  }
}

@keyframes nav-desktop__inner--filter {
  0% {
    filter: invert(1);
  }
  80% {
    filter: invert(0.8);
  }
  100% {
    filter: invert(0);
  }
}

/* Helper Keyframes */

@keyframes helper_border {
  from {
    border: var(--space-2) solid gray;
  }
  to {
    border: var(--space-2)  solid magenta;
  }
}