/* Spaces */

:root {
  --space-half: 2px;
  --space: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-8: 32px;
  --space-10: 40px;
  --space-12: 48px;
  --space-16: 64px;
  --space-20: 80px;
  --space-24: 96px;
  --space-32: 128px;
  --space-40: 160px;
  --space-48: 192px;
  --space-56: 224px;
  --space-64: 256px;
  --space-128: 512px;

  /* Pixel Based */
  --space-320px: 320px;
  --space-480px: 480px;
  --space-768px: 768px;
  --space-960px: 960px;
  --space-1024px: 1024px;
  --space-1080px: 1080px;
  --space-1200px: 1200px;
  --space-1440px: 1440px;
}