/* Theme */

:root {
  --font-mono: "Fira Code", monospace;
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Inter", sans-serif;
  --rgb-black: var(--rgb-gray-800);
  --rgb-color-primary-darker: var(--rgb-indigo-700);
  --rgb-color-primary: var(--rgb-indigo-500);
}

body {
  background-color: rgba(var(--rgb-white));
  color: rgba(var(--rgb-black));
  font-family: var(--font-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  color: var(--black);
  font-weight: var(--text-bold);
}

h1 {
  font-size: var(--text-3xl);
}

h2 {
  font-size: var(--text-2xl);
}

h3 {
  font-size: var(--text-xl);
}

h4 {
  font-size: var(--text-lg);
}

h5 {
  font-size: var(--text-base);
}

h6 {
  font-size: var(--text-base);
}

@media only screen and (width >=768px) {
  h1 {
    font-size: var(--text-5xl);
  }

  h2 {
    font-size: var(--text-4xl);
  }

  h3 {
    font-size: var(--text-2xl);
  }

  h4 {
    font-size: var(--text-xl);
  }

  h5 {
    font-size: var(--text-lg);
  }

  h6 {
    font-size: var(--text-base);
  }
}

p {
  line-height: 200%;
}

header>p {
  line-height: 160%;
}

a {
  color: rgb(var(--rgb-color-primary));
}

a:hover {
  color: rgb(var(--rgb-color-primary-darker));
}

code,
pre {
  font-family: var(--font-mono), source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

code {
  color: rgb(var(--rgb-emerald-500));
}

input,
textarea {
  color: rgb(var(--rgb-black));
}