/* Theme */

:root {
  --font-mono: "Fira Code", monospace;
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Inter", sans-serif;
  --rgb-black: var(--rgb-gray-800);
  --rgb-color-primary-darker: var(--indigo-700);
  --rgb-color-primary: var(--indigo-500);
}

body {
  background-color: rgba(var(--rgb-white));
  color: rgba(var(--rgb-black));
  font-family: var(--font-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  color: var(--black);
}

a {
  color: rgb(var(--rgb-color-primary));
}
a:hover {
  color: rgb(var(--rgb-color-primary-darker));
}

code,
pre {
  font-family: var(--font-mono), source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

code {
  color: rgb(var(--rgb-emerald-500));
}
