/* Animation Helper Styles */
:root {
  --outline-animate-green: 10px dashed green;
  --outline-animate-lime: 10px dashed lime;
  --outline-animate-magenta: 10px dashed magenta;
  --outline-animate-red: 10px dashed red;

  /* Semantic */
  --outline-animate-element: var(--outline-animate-lime);
  --outline-animate-timeline: var(--outline-animate-magenta);

  /* Position */
  --outline-animate-ending: var(--outline-animate-red);
  --outline-animate-starting: var(--outline-animate-green);
}

/* Animation Helper Keyframes */
@keyframes helper {
  from {
    outline: var(--outline-animate-starting);
  }

  to {
    outline: var(--outline-animate-ending);
  }
}

@keyframes helper_rainbow {
  0% {
    outline: 10px dashed lime !important;
  }
  10% {
    outline: 10px dashed rgb(var(--color-yellow-500)) !important;
  }
  20% {
    outline: 10px dashed rgb(var(--color-green-500)) !important;
  }
  30% {
    outline: 10px dashed rgb(var(--color-cyan-500)) !important;
  }
  40% {
    outline: 10px dashed rgb(var(--color-blue-500)) !important;
  }
  50% {
    outline: 10px dashed rgb(var(--color-indigo-500)) !important;
  }
  60% {
    outline: 10px dashed rgb(var(--color-violet-500)) !important;
  }
  70% {
    outline: 10px dashed rgb(var(--color-fuchsia-500)) !important;
  }
  80% {
    outline: 10px dashed rgb(var(--color-pink-500)) !important;
  }
  90% {
    outline: 10px dashed rgb(var(--color-red-500)) !important;
  }
  100% {
    outline: 10px dashed black !important;
  }
}
