/* Default Timeline */
[data-scroll-timeline] {
  animation-timeline: scroll(root);
}
[data-view-timeline] {
  animation-timeline: view();
}

/* Default Duration - necessary for Firefox */
[data-view-timeline],
[data-view-animate],
[data-scroll-timeline],
[data-scroll-animate] {
  animation-duration: 100ms;
}

/* Default Range - necessary for polyfill */
[data-view-timeline],
[data-view-animate],
[data-scroll-timeline],
[data-scroll-animate] {
  animation-range: normal;
}