[data-view-timeline="home-coming-soon-projects"] {
  view-timeline-name: --home_coming_soon_project;
}
[data-view-animate="home-coming-soon-projects"] {
  animation-timeline: --home_coming_soon_project;
  animation-name: home_coming_soon_project;
  animation-fill-mode: forwards;
  animation-range: cover 0% cover 80%;
  animation-timing-function: ease-in-out;
  /* animation-duration: 1ms; */
  /*  */
  inset: 0;
  position: absolute;
  z-index: 1;
  border: 4px solid rgb(var(--color-fuchsia-500) / 0.8);
  border-radius: var(--space-2);
  overflow: clip;
}

@keyframes home_coming_soon_project {
  0% {
    background-color: rgba(var(--color-black) / 0.8);
    backdrop-filter: blur(2.5px);
  }
  50% {
    background-color: transparent;
    backdrop-filter: blur(0);
  }
  70% {
    background-color: transparent;
    backdrop-filter: blur(0);
  }
  100% {
    background-color: rgba(var(--color-black) / 0.8);
    backdrop-filter: blur(2.5px);
  }
}
