[data-animate="column_inner_odd"] {
  animation-timeline: scroll();
  /*  */
  animation-name: column_inner_odd;
  /*  */
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
[data-animate="column_inner_even"] {
  animation-timeline: scroll();
  /*  */
  animation-name: column_inner_even;
  /*  */
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes column_inner_odd {
  from {
    transform: translateY(200px);
  }
  to {
    transform: translateY(-200px);
  }
}
@keyframes column_inner_even {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(200px);
  }
}
