[data-animate="home_hero_buttons"] {
  .button {
    animation-range: 10% 90%;
    animation-timing-function: ease-out;
    animation: home_hero_buttons 10s linear 1;
    animation-fill-mode: forwards;
    animation-duration: 0.8s;
    opacity: 0;
  }

  .button:nth-child(1) {
    animation-delay: -0.1s;
  }

  .button:nth-child(2) {
    animation-delay: 0.3s;
  }
}

@keyframes home_hero_buttons {
  0% {
    opacity: 0;
    transform: translateX(100vw);
  }
  60% {
    opacity: 0.5;
    transform: translateX(-30px);
  }
  80% {
    opacity: 1;
    transform: translateX(10px);
  }
  90% {
    transform: translateX(-2px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
