[data-animate="home_section_contents"] {
  animation-timeline: scroll();
  animation-name: home_section_contents;
  animation-timing-function: linear;
  animation-range: contain 20% 55%;
  animation-fill-mode: both;
}

@keyframes home_section_contents {
  0% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }
  95% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.3;
  }
}
