[data-view-animate="home_section_contents"] {
  animation-name: home_section_contents;
  animation-fill-mode: forwards;
  animation-range: cover 20% cover 200%;
  animation-timing-function: ease-in-out;
}

@keyframes home_section_contents {
  0% {
    opacity: 0.3;
  }
  10% {
    opacity: 1;
  }
  55% {
    opacity: 0.1;
  }
  100% {
    filter: blur(3px);
  }
}
