[data-view-timeline="home_section_contents"] {
  view-timeline-name: --home_section_contents;
}
[data-view-animate="home_section_contents"] {
  animation-timeline: --home_section_contents;
  animation-name: home_section_contents;
  animation-fill-mode: backwards;
  animation-range: cover -5% 100%;
  animation-timing-function: ease-in-out;
}

@keyframes home_section_contents {
  0% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  95% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}
