[data-view-timeline="above_the_fold"] {
  view-timeline-name: --above_the_fold;
  animation-timeline: view();
}
[data-view-animate="nav"] {
  animation-timeline: --above_the_fold;
  /*  */
  animation-fill-mode: forwards;
  animation-name: nav--bg;
  animation-range: cover 90% cover 95%;
  animation-timing-function: linear;
}
[data-view-animate="nav__inner"] {
  animation-timeline: --above_the_fold;
  /*  */
  animation-fill-mode: backwards;
  animation-name: nav__inner--filter;
  animation-range: cover 90% cover 95%;
  animation-timing-function: linear;
}

@keyframes nav--bg {
  0% {
    background-color: rgba(var(--rgb-white) / 0);
  }
  98% {
    background-color: rgba(var(--rgb-white) / 0.3);
  }
  100% {
    background-color: rgba(var(--rgb-white) / 0.8);
  }
}

@keyframes nav__inner--filter {
  0% {
    filter: invert(1);
  }
  80% {
    filter: invert(0.8);
  }
  100% {
    filter: invert(0);
  }
}
