[data-view-timeline="above_the_fold"] {
  view-timeline-name: --above_the_fold;
}
[data-view-animate="nav"] {
  animation-timeline: --above_the_fold;
  /*  */
  animation-fill-mode: forwards;
  animation-name: nav--bg;
  animation-range: cover 90% cover 95%;
  animation-timing-function: linear;
}
[data-view-animate="nav-bar__brand"],
[data-view-animate="nav-bar__tabs"] {
  animation-timeline: --above_the_fold;
  animation-fill-mode: backwards;
  animation-name: nav-bar__brand--filter;
  animation-range: cover 90% cover 95%;
  animation-timing-function: linear;
}

@keyframes nav--bg {
  0% {
    background-color: rgba(var(--color-white) / 0);
  }
  98% {
    background-color: rgba(var(--color-white) / 0.3);
  }
  100% {
    background-color: rgba(var(--color-white) / 0.8);
  }
}

@keyframes nav-bar__brand--filter {
  0% {
    filter: invert(1);
  }
  150% {
    filter: invert(0);
  }
}
